{% extends "motus_layout/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <h1>Full map of acceleration of ground </h1>
 <img src="../../../static/motus_layout/images/Map.png" style="width: 100%; height:100%;">
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->

{% endblock %}

{% block app_actions %}

{% endblock %}